<a href="https://colab.research.google.com/github/jinijinijin/AI_speaker/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [60]:
db_path = '/content/drive/My Drive/db.splite3'

In [61]:
import sqlite3

In [62]:
conn = sqlite3.connect(db_path)

In [63]:
cur = conn.cursor()
cur.execute('SELECT * FROM User')
for row in cur:
    print(row)

OperationalError: ignored

In [64]:
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print(tables)

[]

In [ ]:
conn.close()